name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          TIMESTAMP=$(date +'%Y%m%d')  # 精确到天
          IMAGE_TAG="ghcr.io/miko453/wks:${TIMESTAMP}"
          echo "Building Docker image with tag $IMAGE_TAG"
          docker build -t $IMAGE_TAG .
          docker push $IMAGE_TAG

          # 同时打上 latest 标签
          docker tag $IMAGE_TAG ghcr.io/miko453/wks:latest
          docker push ghcr.io/miko453/wks:latest
